*{border:0;padding:0;margin:0;list-style:none;text-decoration:0;box-sizing: border-box;}
html, body{
	display:table;
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	color: #6d6d6d;
	box-sizing: border-box
}
html{
	background:#fff
}
a{
	text-decoration: none
}
.main{
	float: left;
	width: 100%
}
.container{
	width: 100%;
	float: left;
	display: block;
	position: relative;
}
.row{
	display: block;
	margin: 0 auto;
	width: 1080px
}
.row-fluid{
	width: 100%;
	padding: 2%;
	box-sizing: border-box;
	float: left;
	position: relative
}
.no-padding{
	padding: 0 !important
}
/*paters*/
.col{
	float: left
}
.col-md-8{
	width: 65%;
	float: left
}
.col-md-6{
	width: 50%;
	float: left
}
.col-md-4{
	width: 33.3%;
	float: left
}
.col-md-3{
	width: 25%;
	float: left
}
.title-section, .sub-title-section{
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	line-height: 140%;
	font-weight: 200;
	margin-bottom: 20px;
	color: #2b2b2b
}
.sub-title-section{
	font-size: 18px
}
.text-default{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 170%;
	font-weight: 200;
	letter-spacing: 0.02em;
	margin-bottom: 15px;
	color: #6d6d6d
}
.text-default strong{
	font-weight:300;
	color: #6d6d6d
}

#header{
	height: 770px;
	/*background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size: cover;*/
}
.brand{
	color:#fff;
	display: block;
	font-size:0px;
	line-height:1;
	margin:20px 0;
	text-indent: -9999px;
	width: 300px;
	height: 74px;
	float: left
}
.brand>img{
	display: block
}
.top-nav{
	width: 60px;
	height: 60px;
	background: #fff;
	float: right;
	margin: 20px;
	position: relative
}
.feature{
	float: left;
	width: 100%;
	margin-top:100px;
	display: block;
}
.feature-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 56px;
	width: 100%;
	text-align: center;
	font-weight: 300;
	line-height: 160%;
	text-shadow: 0 1px 1px  rgba(22, 22, 22, 0.7);
}
.feature-text small{
	font-size: 32px
}
.feature-text-paragraph{
	font-size: 20px
}
.box-cta{
	width: 100%;
	float: left;
	display: block;
	position: relative
}
.cta{
	width: 200px;
	height: 50px;
	padding: 15px 40px;
	text-align:center;
	color: #fff;
	background: #76d1de;
	border-radius: 50px;
	display: block;
	margin: 30px 0;
	transition: ease-out 0.2s all
}
.feature-cta{
	width: 200px;
	height: 50px;
	padding: 15px 40px;
	text-align:center;
	color: #fff;
	background: #76d1de;
	border-radius: 50px;
	display: block;
	margin: 30px auto;
	transition: ease-out 0.2s all
}
.cta-dark{
	background: #262626;
	margin: 0 auto
}
.cta-play-video{
	background: none;
	color: #76d1de;
	width: 200px;
	padding: 15px 0;
}
.cta-play-video span{
	width: 30px;
	height:30px;
	border-radius: 50%; 
	border: solid 1px #76d1de;
	float: right;
	margin: -3px 0 0 0;
}
.arrow-right{
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #76d1de;
	border-right: 0 solid transparent;
	float: left;
	margin: 7px 0 0 11px;
}
.feature-cta:hover, .cta:hover, .cta-dark:hover{
	opacity:0.7
}
#make-experience{
	height: 920px;
	background: #fff;
}
#make-experience .head-line p, #make-experience .head-line h2{
	text-align: center
}
.description-case{
	padding: 15px;
	width: 80%;
	margin: 40px 0 0 0
}
.case-client-name{
	margin-bottom: 20px;
}
.case-project-name{
	font-size: 32px;
	font-weight: 200;
	margin-bottom: 20px
}
.case-text-description{
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 140%
}
#case-1{
	height: 500px;
	background: #333a40;
}
#case-1 .description-case{
	padding: 60px;
}
#case-1 .case-client-name{
	color: #76d1de;
}
#case-1 .case-project-name{
	color: #ffffff
}
.frame-video-case-leve-me{
	background: #333333 url('../img/bg-video-case-leve-me.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	float: left;
	width: 100%;
	height: 500px;
	display: block;

}
#case-2{
	background: #13b7e9 url('../img/bg-case-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	height: 720px;

}
#case-2 .p-absolute{
	position: absolute;
	bottom: 0
}
.img-case-broou{
	display: block;
	margin: 0 auto;
}

#case-2 .description-case{
	display: block;
	margin: 0 auto;
	width: 400px;
}

#case-2 .case-project-name, #case-2 .case-client-name, #case-2 .default-text{
	color: #ffffff;
	text-align: center;
}
#case-2 .cta{
	margin-top: 40px
}

#clientes{
	background: #eeeeee;
	height: 400px
}
#clientes .default-text{
	width: 100%;
	float: left;
	text-align: center;
	margin: 40px 0
}
.client-list{
	float: left;
	width: 100%;
	margin: 20px 0;
	padding: 0 40px
}
.client-list-item{
	float: left;
	margin: 20px;
}
#semana-1{
	background: #ffffff;
	height: 800px
}
#semana-2{
	background: #82d9e5;
	height: 800px
}
#semana-3{
	background: #333a40;
	height: 500px
}
#design-conections{
	background: #333 url('../img/bg-conections.jpg');
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size: cover;
	height: 600px
}
.conections-title{
	font-size: 50px;
	font-weight: 600;
	line-height: 100%;
	padding: 10%;
	float: left
}
.conections-title small{
	font-size: 18px;
	line-height: 160%;
	float: right

}
#design-conections .description-case{
	margin-top: 100px;
}
#design-conections .cta{
	float: left;
	margin: 0 20px 0 0 
}
#idealizadores{
	background: #ffffff;
	height: 500px
}
#contato{
	background: #eeeeee;
	height: 500px
}
#footer{
	background: #fff;
	height: 300px
}

/*defaults*/
.text-white{color: #fff !important}
.text-black{color: #222}
.text-blue{color: #76d1de}
.pull-left{float: left;text-align: left;}
.pull-right{float: right;text-align: right;}
.link-default{color: #2B2B23}
.link-default:hover{color: #B7860B}

@media only screen and (max-width: 680px) {
	.row-fluid{
		
	}
	.col-md-6{
		width: 100%;
		float: left;
	}
	.col-md-4{
		width: 100.3%;
		float: left;
	}
	.col-md-4{
		width: 50.%;
		float: left;
	}
	.col-md-3{
		width: 100%;
		float: left;
	}
	.brand{
		margin: 20px auto;
		float: none;
	}
	.top-nav{
		display: none;
	}
	.feature{
		padding: 15px 
	}
	#make-experience, #case-1, #case-2, #case-3{
	height: auto !important;
	}

}